.messages {
    font-family: 'Lato', sans-serif;
    color: #47525E;
    font-size: 20px;
    padding-left: 5px;
}

.message {
    margin-bottom: 20px;
}

.message:last-child {
    margin-bottom: 100px;
}

.text textarea {
    resize: none;
    border: 0;
    background-color: #E6EEEA;
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color:#47525E;
    grid-area: t;
}

.text button {
    margin: 0;
    border: 0;
    background-color: #0CB658;
    width: 80px;
    height: 36px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: white;
    grid-area: b;
}

.text {
    width: 300px;
    display: grid;
    grid-template-areas:
    "t t"
    ". b";

    margin-bottom: 50px;
}