.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.messages {
    padding-left: 100px;
    padding-top: 20px;
}

.head {
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.head a {
    text-decoration: none;
    color: #47525E;
}

.dialogsItems {
    padding-left: 47px;
    padding-top: 20px;
}






